.nav-container{
  width: 100%;
  height: auto;
  min-height:70px;
  background: var(--NavColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container div{
  margin: 0px 20px;
}
.nav-container div a{
  margin-left: 10px;
  margin-right: 10px;
}

.Logo h1{
  color: white;
}

.Links-NavBar{
  flex-basis: 25%;
  display: flex;
  justify-content: space-around;
}

.Links-NavBar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.menu-bar{
  display: none;
}

@media screen and (max-width: 800px){
  .nav-container{
    flex-direction: column;
    padding: 10px 0px;
    min-height: 50px;
  }
  .Links-NavBar{
    align-self: flex-start;
    flex-direction: column;
    display: none;
  }
  .Links-NavBar a{
    margin: 5px 0px;
    padding: 10px 0px;
  }
  .Logo{
    align-self: flex-start;
    display: flex;
    width: 95%;
    justify-content: space-between;
  }
  .menu-bar{
    display: block;
    margin-left: 20px;
  }
}

.hover:hover{
  color: white;
}


.active{
  text-decoration: underline;
  background: red;
}
